@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Poppins', sans-serif;
  background-color: black;
}

.MyScrollBar {
  height: 10rem;
}

.MyScrollBar::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 600px) {
  .MyScrollBar {
    height: 10rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .MyScrollBar {
    height: 5rem;
  }
}